<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <a class="navbar-brand m-3">GITMUSIC</a>
            <form class="d-flex w-50 ms-3" role="search">
                <input class="form-control me-2" type="search" placeholder="제목명 가수명을 입력해주세요" aria-label="Search">
                <button class="btn btn-outline-success w-25" type="submit">검색</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 bg-light p-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인 정보</a>
                <li class="nav-item">
                    <a class="nav-link" href="#">보관함</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">게시판 (인디)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">최신 영상 (MV)</a>
                </li>
            </ul>
        </nav>
</body>